.nav a{
    text-decoration: none;
    margin: 10px 20px;
    font-size: 2em;
    color: #000;
}
.nav a.active{
    color: red;
}
.container{
    margin: 30px;
}
.container textarea{
    width: 500px;
    height: 200px;
    font-size: 2em;
}
