.container{
    width: 200px;
    margin: 0 auto;
    border: 1px solid red;
}
.exit-active{
    transform: translateX(-100px);
    transition: 1s;
    opacity: 0;
}
.exit-done{
    display: none;
}
.comp-container{
    height: 200px;
    position: relative;
}
.title{
    position: absolute;
    top: 0px;
    left:0px;
}
.enter,.appear{
    display: block;
    opacity: 0;
    transform: translateX(100px);
}
.enter-active,.appear-active{
    opacity: 1;
    transform: translateX(0px);
    transition: 1s;
}
