.page {
    width: 1800px;
    margin: 0 auto;
    border: 2px solid;
}

.page1 {
    background: lightblue;
}

.page2 {
    background: lightgreen;
}

.nav {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #008c8c;
    /*color: #fff;*/
    padding: 20px;
}
.nav a{
    text-decoration: none;
    color: #fff;
    margin: 20px 0;
    font-size: 1.5em;
}

.nav a.active{
    color: yellow;
}
